HELP.md

.env
.env.*
!.env.example
.run/

SeatFlow-be/target/
SeatFlow-be/.mvn/wrapper/maven-wrapper.jar

SeatFlow-be/.apt_generated
SeatFlow-be/.classpath
SeatFlow-be/.factorypath
SeatFlow-be/.project
SeatFlow-be/.settings/
SeatFlow-be/.springBeans
SeatFlow-be/.sts4-cache

.idea/
*.iws
*.iml
*.ipr

SeatFlow-be/nbproject/private/
SeatFlow-be/nbbuild/
SeatFlow-be/dist/
SeatFlow-be/nbdist/
SeatFlow-be/.nb-gradle/
SeatFlow-be/build/

SeatFlow-fe/node_modules/
SeatFlow-fe/dist/
SeatFlow-fe/dist-ssr/
SeatFlow-fe/playwright-report/
SeatFlow-fe/test-results/
SeatFlow-fe/blob-report/
*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/docs/*
AGENTS.md
/.cursor/*
